<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{  url_for('static', filename='spell-book.png')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mayoiga</title>
  </head>

  <body>
    <div style="text-align:center;">
      <h1>Mayoiga</h1>
    </div>
    <p>Hello there! This website is still under construction. Thank you for you patience.</p>
  </body>

</html>
