.background {
  background-image: url('img/library.jpg');
  background-size: cover;
  background-position: 50% 0%;
}
.title {
  position: relative;
  text-align: center;
  font-size: 100px;
  font-family: medieval;  
  padding: 70px 170px;
  background-image: url('img/wood5.png');
  background-clip: text;
  background-size: contain;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px rgb(218,165,32,0.25);
}
.title::before {
  font-size: 100px;
  font-family: medieval;  
  font-weight: bold;
  text-align: center;   
  text-shadow: 8px 8px 0px black;
  padding: 70px 170px;
  position: absolute;
  color: black;
  content: attr(data-text);
  z-index: -1;
  inset: 0;
}
.git {
  width: 35px;
  transition: transform 0.9s at ease;
}
.git:hover {
  transform: scale(1.05);
}
p {  
  font-size: 50px;
  font-family: medieval;
  text-align: center;
  text-shadow: 4px 2px 0px black;  
  color: goldenrod;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('img/scroll-dark.png');
  background-size: 310px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 310px;
  padding-bottom: 32.5px;
}
@font-face{
  font-family: medieval;
  src: url('Jacquard24-Regular.ttf');
}
