.background {
  background-image: url('img/library.jpg');
  background-size: cover;
  background-position: 0 0;
}
h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  font-family: medieval;
  text-shadow: 4px 4px 8px black;
  #background-image: url('scroll.png');
  #background-size: cover;
  #background-position: center;
  #display: inline-block;
  padding: 70px 170px;
}
p {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: medieval;
  text-shadow: 2px 2px 4px black;
}

@font-face{
  font-family: medieval;
  src: url('Jacquard24-Regular.ttf');
}
